body{
    background-color: rgb(240, 235, 228);
    font-family: sans-serif;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: pink;
    text-shadow: 2px 2px 4px #ff69b4;
    font-size: 40px;
    text-align: center;
}

button{
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.textoCentrado{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}